@{
    ViewData["Title"] = "Change password";
}

<h1 class="text-xl font-bold mb-4">Change password</h1>

<form asp-action="ChangePassword">
    <input hidden name="userId" value="@Constants.TestUserId" />
    <div>
        <div class="mb-8 p-4">
            <div class="flex items-center gap-4 mb-2">
                <div class="w-32 text-right">
                    <label for="oldPassword" class="block">Old password</label>
                </div>
                <div>
                    <input class="input input-bordered" name="oldPassword" type="password" />
                </div>
            </div>

            <div class="flex items-center gap-4 mb-2">
                <div class="w-32 text-right">
                    <label for="newPassword" class="block">New password</label>
                </div>
                <div>
                    <input class="input input-bordered" name="newPassword" type="password" />
                </div>
            </div>

            <div class="flex items-center gap-4 mb-2">
                <div class="w-32 text-right">
                    <label for="rePassword" class="block">Retype password</label>
                </div>
                <div>
                    <input class="input input-bordered" name="rePassword" type="password" />
                </div>
            </div>
        </div>
    </div>
    <div class="flex gap-4 my-2">
        <button id="change-password-btn" class="btn btn-primary" disabled>Change password</button>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_LibraryScriptsPartial");}

    <script type="text/javascript">
        $("[name='rePassword'], [name='newPassword']").on("input", () => {
            var newPassword = $("[name='newPassword']").val();
            var rePassword = $("[name='rePassword']").val();

            if (newPassword === rePassword) {
                $("#change-password-btn").removeAttr("disabled");
            } else {
                $("#change-password-btn").attr("disabled", true);
            }
        })
    </script>
}
