<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sway.Web.Mvc</title>
    <partial name="_CssTagsPartial" />
</head>
<body>
    <header>
        <nav class="border border-solid border-black p-4">
            <div class="">
                <a class="" asp-area="" asp-controller="Home" asp-action="Index">Sway.Web.Mvc</a>
                <button class="" type="button" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""></span>
                </button>
                <div class="">
                    <ul class="">
                        <li class="">
                            <a class="" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-house"></i> Home</a>
                        </li>
                        <li class="">
                            <a class="" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
