<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sway.Web.Mvc</title>
    <partial name="_CssTagsPartial" />
</head>
<body>
    <partial name="_Navbar" />
    <div class="max-w-screen-2xl mx-auto my-5">
        <main role="main" class="dark:border-gray-400 border-solid border border-transparent">
            @RenderBody()
        </main>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
