<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sway.Web.Mvc</title>
    <partial name="_CssTagsPartial" />
</head>
<body>
    <div class="w-full rounded-md flex animate-gradient color-gradient p-1 flex flex-col items-center [&>div]:!flex-none justify-center h-12 px-2 rounded-none text-[9px] text-center text-white md:text-sm bg-dark">
        <div class="flex-1 rounded-md">
            <p>唉 为何妳的秘密不删, 唉 现在已经麻痺无感</p>
        </div>
    </div>
    <partial name="_Navbar" />
    <div class="max-w-screen-2xl mx-auto my-5">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
